.box {
    background: #ffffc0;
    padding: .5rem;
    margin: 0 0 1rem;
}

.form > div {
    padding: .2rem 0;
}

.box span {
    width: 7rem;
    display: inline-block;
}

.box input {
    width: 12rem;
}

.box input[type="button"] {
    width: initial;
    margin-right: .1rem;
}
